.history-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  background-color: #ffffff;
}
.first-container {
  display: flex;
  flex-direction: row;
}
.time-accessed {
  color: #000000;
  font-size: 17px;
}
.logo-image {
  height: 30px;
  width: 30px;
  margin-left: 25px;
  margin-right: 17px;
  margin-top: 10px;
}
.title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 17px;
}
.domain-url {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 10px;
  margin-top: 20px;
}
